[Unit]
Description={{ chain }} parachain full node
After=network.target
Requires=network.target

[Service]
Type=simple
User=zeitgeist
Group=zeitgeist
RestartSec=5
Restart=always
Nice=0
ExecStart=/opt/{{ chain }}/zeitgeist_parachain \
    --base-path={{ db_path }} \
    --chain={{ chain }} \
    --name="{{ node_name }}" \
    --port={{ p2p_listen }} \
    --rpc-port={{ rpc_listen }} \
    --ws-port={{ ws_listen }} \
    --collator \
    --trie-cache-size=0 \
    --no-mdns \
    --rpc-cors=all \
    --pruning=archive \
    --execution=wasm \
    --bootnodes=/ip4/172.104.229.106/tcp/30333/p2p/12D3KooWJ5e5EYXX6YNjGfV3fwr56o9Xk9NXt1uTU2CysEieoX9R \
    --bootnodes=/ip4/172.104.229.106/tcp/30333/ws/p2p/12D3KooWJ5e5EYXX6YNjGfV3fwr56o9Xk9NXt1uTU2CysEieoX9R \
    --wasm-execution=compiled \
    --\
    --port={{ p2p_relay_listen }} \
    --rpc-port={{ rpc_relay_listen }} \
    --ws-port={{ ws_relay_listen }} \
    --trie-cache-size=0 \
    --database=paritydb \
    --pruning=100 \
    --keep-blocks=100 \
    --execution=wasm \
    --no-mdns

[Install]
WantedBy=multi-user.target